<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>

     <bean name="employeeAspect" class="com.thanh.aspect.EmployeeAspect"/>
    <bean name="employeeAnnotationAspect" class="com.thanh.aspect.EmployeeAnnotationAspect"/>
     <bean name="employeeAspectPointcut" class="com.thanh.aspect.EmployeeAspectPointcut"/>
    <bean name="aspectJoinPoint" class="com.thanh.aspect.EmployeeAspectJoinPoint"/>
    <bean name="afterAspect" class="com.thanh.aspect.EmployeeAfterAspect"/>
    <bean name="employeeAroundAspect" class="com.thanh.aspect.EmployeeAroundAspect"/>
    <bean name="TestTuTaoAnnotationExcu" class="com.thanh.aspect.TestTuTaoAnnotationExcu"/>
    <bean id="employee" class="com.thanh.model.Employee">
        <property name="name" value="test"/>
    </bean>
    <bean id="student" class="com.thanh.model2.Student">
        <property name="name" value="test"/>
    </bean>

</beans>